<div id="find-1">
    <p>/home</p>
        <div class="content">
            <div class="scrollable">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>AccessTier</th>
                        <th></th>
                    </tr>
                    <tr class="green">
                        <td>filename</td>
                        <td class="flex"><div aria-hidden="true" class="dot green"></div>Read Data</td>
                        <td><button>View Files</button></td>
                    </tr>
                    <tr class="yellow">
                        <td>filename</td>
                        <td class="flex"><div aria-hidden="true" class="dot yellow"></div>Add Data</td>
                        <td><button>View Files</button></td>
                    </tr>
                    <tr class="orange">
                        <td>filename</td>
                        <td class="flex"><div aria-hidden="true" class="dot orange"></div>Modify Data</td>
                        <td><button>View Files</button></td>
                    </tr>
                    <tr class="red">
                        <td>filename</td>
                        <td class="flex"><div aria-hidden="true" class="dot red"></div>Manage permissions</td>
                        <td><button>View Files</button></td>
                    </tr>
                </table>
            </div>
            <div class="scrollable">
                <table>
                    <tr>
                        <th>FileName</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>Read</th>
                        <th>Add</th>
                        <th>Modify</th>
                        <th>Manage</th>
                    </tr>
                    <tr>
                        <td>Alice</td>
                        <td>✓</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>X</td>
                    </tr>
                                        <tr>
                        <td>Alice</td>
                        <td>✓</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>X</td>
                    </tr>
                                        <tr>
                        <td>Alice</td>
                        <td>✓</td>
                        <td>X</td>
                        <td>X</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>✓</td>
                        <td>X</td>
                    </tr>
                </table>
            </div>
        </div>
    <div>
        <h3>Specific Policy Info</h3>
          <p>A data provider is an party that is issuing the rule. Here the provider is myCompany party. This party is either the Data Owner or the Data Provider of the specified data asset. In this Policy OFFER example, the permission rule allows the Data Consumer to use the target asset.The identifier of this policy and the target asset are http://example.com/policy/myPolicy and http://example.com/data/sample, respectively.</p>
    </div>
</div>
